<div class="container">
	<div class="row mb-3">
		<div class="col-12">
			<%= form_with(method: "get", url: ere_details_bn_nominal_rolls_path, remote: true) do |f| %>
                <div class="row form-group mb-4">
                    <div class="col-1">
                        <%= f.label :coy, "COY:" %>
                    </div>
                    <div class="col-1">
                        <%= f.select :coy, ["ALL", "A COY", "B COY", "C COY", "D COY", "SP COY", "HQ COY", "OTHERS"], class: "form-control pt-2", placeholder: "Coy", value: params[:coy], selected: params[:coy]  %>
                    </div>
                </div>
				<div class="row form-group">
					<div class="col-2 px-1 my-1">
						<%= f.text_field :army_no, class: "form-control", placeholder: "Army No", autofocus: true, value: params[:army_no] %>
					</div>
					<div class="col-1 px-1 my-1">
						<%= f.text_field :rank, class: "form-control", placeholder: "Rank", value: params[:rank] %>
					</div>
					<div class="col-2 px-1 my-1">
						<%= f.text_field :name, class: "form-control", placeholder: "Name", value: params[:name] %>
					</div>
					<div class="col-2 px-1 my-1">
						<%= f.text_field :ere_unit, class: "form-control", placeholder: "ERE UNIT", value: params[:ere_unit] %>
					</div>
					<div class="col-2 px-1 my-1">
						<%= f.text_field :ere_location, class: "form-control", placeholder: "ERE LOCATION", value: params[:ere_location] %>
					</div>
					<div class="col-2 px-1 my-1">
						<%= f.text_field :date_of_sos_to_ere, class: "form-control", placeholder: "DATE OF SOS TO ERE", value: params[:date_of_sos_to_ere] %>
					</div>
					<div class="col-2 px-1 my-1">
						<%= f.text_field :date_of_rtu_to_unit, class: "form-control", placeholder: "DATE OF RTU TO UNIT", value: params[:date_of_rtu_to_unit] %>
					</div>
					<div class="col-2 px-1 my-1">
						<%= f.text_field :tenure, class: "form-control", placeholder: "TENURE", value: params[:tenure] %>
					</div>
					<div class="col-6 px-1 d-flex justify-content-end my-1">
						<%= f.submit "Search", class: "btn btn-secondary" %>
					</div>
					<div class="col-1 px-1 d-flex justify-content-end my-1">
						<%= link_to "Reset", ere_details_bn_nominal_rolls_path, method: "get", remote: true, class: "btn btn-outline-secondary pt-1" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>