<div class="container">
  <h5 class="mt-4"> BN PUNISHMENT PERS </h5>
  <br>
	<%= render partial: "search_punishment" %>
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr width='100%'>
          <th width='8%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_army_no', 'ARMY NO') %>
          </th>
          <th width='5%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_rank', 'RANK') %>
          </th>
          <th width='15%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_name', 'NAME') %>
          </th>
          <th width='8%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_coy', 'COY') %>
          </th>
          <th width='8%' class="align-top">
            <%= sort_link(@q, :red_black, 'RED / BLACK') %>
          </th>
					<th width='9%' class="align-top">
						<%= sort_link(@q, :duration_on_period, 'DURATION ON PERIOD') %>
					</th>
          <th width='10%' class="align-top">
						<%= sort_link(@q, :army_act, 'ARMY ACT') %>
					</th>
					<th width='10%' class="align-top">
						<%= sort_link(@q, :punishment_award_ed, 'PUNISHMENT AWARD ED') %>
					</th>
					<th width='10%' class="align-top">
						<%= sort_link(@q, :location, 'LOCATION') %>
					</th>
          <th width='10%' class="align-top">
            <%= sort_link(@q, :remarks, 'REMARKS') %>
          </th>
          <th width="5%">
          </th>

      </tr>
    </thead>
    <tbody>
      <% @bn_punishment_pers.each do | ere |%>
        <tr>
          <td>
            <%= ere.bn_nominal_roll.army_no %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.rank %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.name %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.coy %>
          </td>
          <td>
            <%= ere.red_black %>
          </td>
					<td>
						<%= ere.duration_on_period %>
					</td>
					<td>
						<%= ere.army_act %>
					</td>
					<td>
						<%= ere.punishment_award_ed %>
					</td>
					<td>
						<%= ere.location %>
					</td>
					<td>
						<%= ere.remarks %>
					</td>
          <td>
            <%= link_to "Edit", bn_nominal_roll_path(ere.bn_nominal_roll)%>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <%= paginate @bn_punishment_pers %>
</div>