<div class="container">
  <h5 class="mt-4"> COR DRINKER / NON DRINKER </h5>
  <br>
	<%= render partial: "search_drink" %>
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr width='100%'>
          <th width='8%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_army_no', 'ARMY NO') %>
          </th>
          <th width='5%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_rank', 'RANK') %>
          </th>
          <th width='15%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_name', 'NAME') %>
          </th>
          <th width='8%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_coy', 'COY') %>
          </th>
					<th width='8%' class="align-top">
						<%= sort_link(@q, 'bn_nominal_roll_trade', 'TRADE') %>
					</th>
          <th width='15%' class="align-top">
            <%= sort_link(@q, :drinker_non_drinker, 'DRINKER / NON DRINKER') %>
          </th>
          <th width='10%' class="align-top">
            <%= sort_link(@q, :remarks, 'REMARKS') %>
          </th>
          <th width="5%">
          </th>
      </tr>
    </thead>
    <tbody>
      <% @cor_drinker_non_drinkers.each do | ere |%>
        <tr>
          <td>
            <%= ere.bn_nominal_roll.army_no %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.rank %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.name %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.coy %>
          </td>
					<td>
						<%= ere.bn_nominal_roll.trade %>
					</td>
          <td>
            <%= ere.drinker_non_drinker %>
          </td>
					<td>
						<%= ere.remarks %>
					</td>
          <td>
            <%= link_to "Edit", bn_nominal_roll_path(ere.bn_nominal_roll)%>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <%= paginate @cor_drinker_non_drinkers %>
</div>