<div class="container">
  <h5 class="mt-4"> COY NOMINAL ROLL </h5>
  <br>
  <%= render partial: "search_coy" %>
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr width='100%'>
          <th width='15%'>
            <%= sort_link(@q, :army_no, 'ARMY NO') %>
          </th>
          <th width='10%'>
            <%= sort_link(@q, :rank, 'RANK') %>
          </th>
          <th width='30%'>
            <%= sort_link(@q, :name, 'NAME') %>
          </th>
          <th width='15%'>
            <%= sort_link(@q, :coy, 'COY') %>
          </th>
          <th width='20%'>
            <%= sort_link(@q, :trade, 'TRADE') %>
          </th>
          <th width="10%">
          </th>

      </tr>
    </thead>
    <tbody>
      <% @bn_nominal_rolls.each do | bn |%>
        <tr>
          <td>
            <%= bn.army_no %>
          </td>
          <td>
            <%= bn.rank %>
          </td>
          <td>
            <%= bn.name %>
          </td>
          <td>
            <%= bn.coy %>
          </td>
          <td>
            <%= bn.trade %>
          </td>
          <td>
            <%= link_to "Edit", bn_nominal_roll_path(bn)%>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <%= paginate @bn_nominal_rolls %>
</div>


