<div class="container">
  <h5 class="mt-4"> INDL DETAILS </h5>
  <br>
	<%= render partial: "search_indl" %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr width='100%'>
            <th width='8%' class="align-top">
              <%= sort_link(@q, 'bn_nominal_roll_army_no', 'ARMY NO') %>
            </th>
            <th width='5%' class="align-top">
              <%= sort_link(@q, 'bn_nominal_roll_rank', 'RANK') %>
            </th>
            <th width='15%' class="align-top">
              <%= sort_link(@q, 'bn_nominal_roll_name', 'NAME') %>
            </th>
            <th width='8%' class="align-top">
              <%= sort_link(@q, 'bn_nominal_roll_coy', 'COY') %>
            </th>
            <th width='12%' class="align-top">
              <%= sort_link(@q, :type_of_veh, 'TYPE OF VEH') %>
            </th>
            <th width='8%' class="align-top">
              <%= sort_link(@q, :veh_no, 'VEH NO') %>
            </th>
            <th width='9%' class="align-top">
              <%= sort_link(@q, :location, 'LOCATION') %>
            </th>
            <th width='10%' class="align-top">
              <%= sort_link(@q, :remarks, 'REMARKS') %>
            </th>
            <th width="5%">
            </th>
        </tr>
      </thead>
      <tbody>
        <% @indl_details.each do | indl |%>
          <tr>
            <td>
              <%= indl.bn_nominal_roll.army_no %>
            </td>
            <td>
              <%= indl.bn_nominal_roll.rank %>
            </td>
            <td>
              <%= indl.bn_nominal_roll.name %>
            </td>
            <td>
              <%= indl.bn_nominal_roll.trade %>
            </td>
            <td>
              <%= indl.bn_nominal_roll.coy %>
            </td>
            <td>
              <%= indl.pl %>
            </td>
            <td>
              <%= indl.sec %>
            </td>
            <td>
              <%= indl.i_card_number %>
            </td>
            <td>
              <%= indl.blood_group %>
            </td>
            <td>
              <%= indl.appt %>
            </td>
            <td>
              <%= indl.bn_nominal_roll.dob %>
            </td>
            <td>
              <%= indl.dt_of_enrollment %>
            </td>
            <td>
              <%= indl.bn_nominal_roll.date_of_tos_in_unit %>
            </td>
            <td>
              <%= indl.bn_nominal_roll.pers_med_cat %>
            </td>
            <td>
              <%= indl.dt_of_marriage %>
            </td>
            <td>
              <%= indl.pl %>
            </td>
            <td>
              <%= indl.sec %>
            </td>
            <td>
              <%= indl.i_card_number %>
            </td>
            <td>
              <%= indl.blood_group %>
            </td>
            <td>
              <%= indl.appt %>
            </td>
            <td>
              <%= indl.appt %>
            </td>
            <td>
              <%= indl.dt_of_enrollment %>
            </td>					
            <td>
              <%= indl.remarks %>
            </td>
            <td>
              <%= link_to "Edit", bn_nominal_roll_path(indl.bn_nominal_roll)%>
            </td>
          </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
  <%= paginate @indl_details %>
</div>