<div class="container">
  <h5 class="mt-4"> PERS IN MH </h5>
  <br>
	<%= render partial: "search_mh" %>
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr width='100%'>
          <th width='8%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_army_no', 'ARMY NO') %>
          </th>
          <th width='5%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_rank', 'RANK') %>
          </th>
          <th width='15%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_name', 'NAME') %>
          </th>
          <th width='8%' class="align-top">
            <%= sort_link(@q, 'bn_nominal_roll_coy', 'COY') %>
          </th>
          <th width='8%' class="align-top">
            <%= sort_link(@q, :admitted_date, 'ADMITTED DATE') %>
          </th>
					<th width='9%' class="align-top">
						<%= sort_link(@q, :no_of_days_in_mh, 'NO OF DAYS IN MH') %>
					</th>
          <th width='10%' class="align-top">
						<%= sort_link(@q, :diagonosis, 'DIAGNOSIS') %>
					</th>
          <th width='10%' class="align-top">
            <%= sort_link(@q, :remarks, 'REMARKS') %>
          </th>
          <th width="5%">
          </th>

      </tr>
    </thead>
    <tbody>
      <% @pers_in_mhs.each do | ere |%>
        <tr>
          <td>
            <%= ere.bn_nominal_roll.army_no %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.rank %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.name %>
          </td>
          <td>
            <%= ere.bn_nominal_roll.coy %>
          </td>
          <td>
            <%= ere.admitted_date %>
          </td>
					<td>
						<%= ere.no_of_days_in_mh %>
					</td>
					<td>
						<%= ere.diagonosis %>
					</td>
					<td>
						<%= ere.remarks %>
					</td>
          <td>
            <%= link_to "Edit", bn_nominal_roll_path(ere.bn_nominal_roll)%>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <%= paginate @pers_in_mhs %>
</div>