
<div class="container">
  <div class="container mt-4">
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          BN NOMINAL ROLL
        </h5>
      </div>
      <div class="col-1">
        <%= link_to "Edit Data", edit_bn_nominal_roll_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
      <div class="col-2">
        <%= button_to "Delete Data", @bn_nominal_roll, method: :delete, class: "btn btn-sm btn-outline-primary" %>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <% @bn_nominal_roll.attributes.except("updated_at", "created_at", "id").keys.each do | bn |%>
            <th> <%= bn.titleize %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @bn_nominal_roll.attributes.except("updated_at", "created_at", "id").values.each do | bn |%>
            <td><%= bn %> </td>
          <% end %>      
        </tr>
      </tbody>
    </table>
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          BN LMC PERS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_bn_lmc_per_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @bn_lmc_pers.present? %>
      <% @bn_lmc_pers.each do | bn_lmc_pers | %>
        <%= render partial: "bn_lmc_pers/show", locals: { bn_lmc_pers: bn_lmc_pers }%>
      <% end %>
    <% end %>
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          COY LEAVE DETAILS
        </h5>
      </div>
      <% if @coy_leave_details.blank? %>
        <div class="col-2">
          <%= link_to "+ Add Data", new_bn_nominal_roll_coy_leave_detail_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
        </div>
      <% end %>
    </div>
    <% if @coy_leave_details.present? %>
      <%= render partial: "coy_leave_details/show", locals: { coy_leave_details: @coy_leave_details }%>
    <% end %>
    <br>
    <hr> 
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          BN PUNISHMENT PERS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_bn_punishment_per_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @bn_punishment_pers.present? %>
      <% @bn_punishment_pers.each do | bn_punishment_pers | %>
        <%= render partial: "bn_punishment_pers/show", locals: { bn_punishment_pers: bn_punishment_pers }%>
      <% end %>
    <% end %>   
    <br>
    <hr> 
  </div>

</div>
