
<div class="container">
  <div class="container mt-4">
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          BN NOMINAL ROLL
        </h5>
      </div>
      <div class="col-1">
        <%= link_to "Edit Data", edit_bn_nominal_roll_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
      <div class="col-2">
        <%= button_to "Delete Data", @bn_nominal_roll, method: :delete, class: "btn btn-sm btn-outline-primary" %>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <% @bn_nominal_roll.attributes.except("updated_at", "created_at", "id").keys.each do | bn |%>
            <th> <%= bn.titleize %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @bn_nominal_roll.attributes.except("updated_at", "created_at", "id").values.each do | bn |%>
            <td><%= bn %> </td>
          <% end %>      
        </tr>
      </tbody>
    </table>
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          BN LMC PERS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_bn_lmc_per_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @bn_lmc_pers.present? %>
      <% @bn_lmc_pers.each do | bn_lmc_pers | %>
        <%= render partial: "bn_lmc_pers/show", locals: { bn_lmc_pers: bn_lmc_pers }%>
      <% end %>
    <% end %>
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          COY LEAVE DETAILS
        </h5>
      </div>
      <% if @coy_leave_details.blank? %>
        <div class="col-2">
          <%= link_to "+ Add Data", new_bn_nominal_roll_coy_leave_detail_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
        </div>
      <% end %>
    </div>
    <% if @coy_leave_details.present? %>
      <%= render partial: "coy_leave_details/show", locals: { coy_leave_details: @coy_leave_details }%>
    <% end %>
    <br>
    <hr> 
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          BN PUNISHMENT PERS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_bn_punishment_per_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @bn_punishment_pers.present? %>
      <% @bn_punishment_pers.each do | bn_punishment_pers | %>
        <%= render partial: "bn_punishment_pers/show", locals: { bn_punishment_pers: bn_punishment_pers }%>
      <% end %>
    <% end %>   
    <br>
    <hr> 
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          ERE DETAILS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_ere_detail_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @ere_details.present? %>
      <% @ere_details.each do | ere_details | %>
        <%= render partial: "ere_details/show", locals: { ere_details: ere_details }%>
      <% end %>
    <% end %>   
    <br>
    <hr> 
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          PERS IN MH
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_pers_in_mh_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @pers_in_mhs.present? %>
      <% @pers_in_mhs.each do | pers_in_mhs | %>
        <%= render partial: "pers_in_mhs/show", locals: { pers_in_mhs: pers_in_mhs }%>
      <% end %>
    <% end %>   
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          BN SPORTS TEAM
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_bn_sports_team_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @bn_sports_teams.present? %>
      <% @bn_sports_teams.each do | bn_sports_teams | %>
        <%= render partial: "bn_sports_teams/show", locals: { bn_sports_teams: bn_sports_teams }%>
      <% end %>
    <% end %>   
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          ARMY COURSES
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_army_course_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @army_courses.present? %>
      <% @army_courses.each do | army_courses | %>
        <%= render partial: "army_courses/show", locals: { army_courses: army_courses }%>
      <% end %>
    <% end %>   
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          ATT PERS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_att_per_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @att_pers.present? %>
      <% @att_pers.each do | att_pers | %>
        <%= render partial: "att_pers/show", locals: { att_pers: att_pers }%>
      <% end %>
    <% end %>   
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          INDL VEH DETAILS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_indl_veh_detail_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @indl_veh_details.present? %>
      <% @indl_veh_details.each do | indl_veh_details | %>
        <%= render partial: "indl_veh_details/show", locals: { indl_veh_details: indl_veh_details }%>
      <% end %>
    <% end %>   
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          INDL DETAILS
        </h5>
      </div>
      <% if @indl_details.blank? %>
        <div class="col-2">
          <%= link_to "+ Add Data", new_bn_nominal_roll_indl_detail_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
        </div>
      <% end %>
    </div>
    <% if @indl_details.present? %>
      <%= render partial: "indl_details/show", locals: { indl_details: @indl_details }%>
    <% end %>
    <br>
    <hr> 
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          AWARDS AND ACHIEVEMENTS
        </h5>
      </div>
      <div class="col-2">
        <%= link_to "+ Add Data", new_bn_nominal_roll_awards_and_achievement_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
      </div>
    </div>
    <% if @awards_and_achievements.present? %>
      <% @awards_and_achievements.each do | awards_and_achievements | %>
        <%= render partial: "awards_and_achievements/show", locals: { awards_and_achievements: awards_and_achievements }%>
      <% end %>
    <% end %>   
    <br>
    <hr>
    <div class="row mb-2">
      <div class="col-3">
        <h5>
          COR DRINKER / NON DRINKER
        </h5>
      </div>
      <% if @cor_drinker_non_drinkers.blank? %>
        <div class="col-2">
          <%= link_to "+ Add Data", new_bn_nominal_roll_cor_drinker_non_drinker_path(@bn_nominal_roll), class: "btn btn-sm btn-outline-primary"%>
        </div>
      <% end %>
    </div>
    <% if @cor_drinker_non_drinkers.present? %>
      <%= render partial: "cor_drinker_non_drinkers/show", locals: { cor_drinker_non_drinkers: @cor_drinker_non_drinkers }%>
    <% end %>
    <br>
    <hr> 
  </div>
</div>
