<%= form_with method: action, model: @bn_lmc_per, url: url do | f | %>
  <% if bn_lmc_per.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bn_lmc_per.errors.count, "error") %> prohibited this bn_lmc_per from being saved:</h2>

      <ul>
        <% bn_lmc_per.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :diagonosis, 'DIAGNOSIS:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :diagonosis, autofocus: true %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :date_of_first_placed_in_lmc, 'DATE OF FIRST PLACED IN LMC:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :date_of_first_placed_in_lmc  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :date_of_next_med_review, 'DATE OF NEXT MED REVIEW:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :date_of_next_med_review  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :location, 'LOCATION:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :location %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :remarks, 'REMARKS:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_area :remarks, cols: 50, rows: 5%>
    </div>
  </div>
  <div>
    <%= f.submit "Submit", class: "btn btn-sm btn-primary btn-block" %>
  </div>
<% end %>

