<%= form_with method: action, model: @bn_family_member_detail, url: url do | f | %>
  <% if bn_family_member_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bn_family_member_detail.errors.count, "error") %> prohibited this bn_family_member_detail from being saved:</h2>

      <ul>
        <% bn_family_member_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :wife_name, 'WIFE NAME:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :wife_name  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :dob_wife, 'DOB WIFE:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :dob_wife  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :no_of_children, 'NO OF CHILDREN:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :no_of_children  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :present_address, 'PRESENT ADDRESS:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_area :present_address, cols: 50, rows: 3  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :permanent_address, 'PARMANENT ADDRESS:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_area :permanent_address, cols: 50, rows: 3  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :qtr_occupation_date, 'QTR OCCUPATION DATE:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :qtr_occupation_date  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :family_problem, 'FAMILY PROBLEM:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_area :family_problem, cols: 50, rows: 3  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :mob_no_indl, 'MOBILE NO INDL:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :mob_no_indl  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :mob_no_res, 'MOBILE NO RES:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_field :mob_no_res  %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <%= f.label :remarks, 'REMARKS:', class: "text-secondary" %>
    </div>
    <div class="col-4">
      <%= f.text_area :remarks, cols: 50, rows: 5%>
    </div>
  </div>
  <div>
    <%= f.submit "Submit", class: "btn btn-sm btn-primary btn-block" %>
  </div>
<% end %>



